@import "tailwindcss";


/* =========================
   THEME VARIABLES
   ========================= */

:root {
  --font-body: "League Spartan", sans-serif;

  --font-heading: 'Barlow Condensed', sans-serif;

  --font-size-numbers: 32px;
}

@layer components {
  .btn {
    @apply py-2 px-4 rounded-lg font-bold text-2xl
           bg-[var(--color-key-bg-neutral)]
           text-[var(--color-text-main)]
           shadow-[0_4px_0_var(--color-key-shadow-neutral)]
           hover:brightness-110 transition cursor-pointer hover:opacity-40;
  }

  .btn-primary {
    @apply bg-[var(--color-key-bg-primary)] 
           text-[var(--color-text-light)]
           shadow-[0_4px_0_var(--color-key-shadow-primary)] rounded-lg font-bold text-lg md:text-2xl md:py-2 md:px-4  uppercase cursor-pointer hover:opacity-40;
  }

  .btn-accent {
    @apply bg-[var(--color-key-bg-accent)] 
           text-[var(--equal-btn-text-color)]
           shadow-[0_4px_0_var(--color-key-shadow-accent)] py-2 px-4  md:p-4 rounded-lg font-bold text-xl md:text-2xl cursor-pointer hover:opacity-40;
  }
}
@layer components {
  .btn {
    @apply p-3 md:py-2 md:px-4 rounded-lg font-bold text-2xl md:text-4xl
           bg-[var(--color-key-bg-neutral)]
           text-[var(--color-text-main)]
           shadow-[0_4px_0_var(--color-key-shadow-neutral)]
           hover:brightness-110 transition;
  }
}

/* ========== THEME 1 ========== */
.theme-1 {
  /* Backgrounds */
  --color-bg-main: hsl(222, 26%, 31%);
  --color-bg-toggle: hsl(223, 31%, 20%);
  --color-bg-screen: hsl(224, 36%, 15%);

  /* Keys */
  --color-key-bg-primary: hsl(225, 21%, 49%);
  --color-key-shadow-primary: hsl(224, 28%, 35%);

  --color-key-bg-accent: hsl(6, 63%, 50%);
  --color-key-shadow-accent: hsl(6, 70%, 34%);

  --color-key-bg-neutral: hsl(0, 0%, 90%);
  --color-key-shadow-neutral: hsl(28, 16%, 65%);

  /* Text */
  --color-text-main: hsl(221, 14%, 31%);
  --color-text-light: hsl(0, 100%, 100%);
  /* = btn */
  --equal-btn-text-color: var(--color-text-light);
  --text-input-color: var(--color-text-light);
  
}

/* ========== THEME 2 ========== */
.theme-2 {
  /* Backgrounds */
  --color-bg-main: hsl(0, 0%, 90%);
  --color-bg-toggle: hsl(0, 5%, 81%);
  --color-bg-screen: hsl(0, 0%, 93%);

  /* Keys */
  --color-key-bg-primary: hsl(185, 42%, 37%);
  --color-key-shadow-primary: hsl(185, 58%, 25%);

  --color-key-bg-accent: hsl(25, 98%, 40%);
  --color-key-shadow-accent: hsl(25, 99%, 27%);

  --color-key-bg-neutral: hsl(0, 0%, 90%);
  --color-key-shadow-neutral: hsl(35, 11%, 61%);

  /* Text */
  --color-text-main: hsl(60, 10%, 19%);
  --color-text-light: hsl(0, 100%, 100%);
  --equal-btn-text-color: var(--color-text-light);
  --text-input-color: var(--color-text-main);
}

/* ========== THEME 3 ========== */
.theme-3 {
  /* Backgrounds */
  --color-bg-main: hsl(268, 75%, 9%);
  --color-bg-toggle: hsl(268, 71%, 12%);
  --color-bg-screen: hsl(268, 71%, 12%);

  /* Keys */
  --color-key-bg-primary: hsl(281, 89%, 26%);
  --color-key-shadow-primary: hsl(285, 91%, 52%);

  --color-key-bg-accent: hsl(176, 100%, 44%);
  --color-key-shadow-accent: hsl(177, 92%, 70%);

  --color-key-bg-neutral: hsl(268, 47%, 21%);
  --color-key-shadow-neutral: hsl(290, 70%, 36%);

  /* Text */
  --color-text-dark: hsl(198, 20%, 13%);
  --color-text-main: hsl(52, 100%, 62%);
  --color-text-light: hsl(0, 100%, 100%);
  --equal-btn-text-color: var(--color-text-dark);
  --text-input-color: var(--color-text-main);
}
